﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	<link href="../../Content/themes/base/jquery.ui.core.css" rel="stylesheet" type="text/css" />
	<link href="../../Content/themes/base/jquery.ui.menu.css" rel="stylesheet" type="text/css" />
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
			</div>
			<div class="float-right">
				<section id="login">
					@Html.Partial("_LoginPartial")
				</section>
				<nav>
					@Html.Action("Menu", "Home")
				</nav>
			</div>
		</div>
	</header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>
					&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
			</div>
		</div>
	</footer>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	<script>
		$(document).ready(function () {
			$("#menu").menu();
		});
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
