﻿@model SimpleMenuSample.Models.Menu
<ul id="menu">
	@foreach (var item in Model.Items)
 { 
		<li><a href="@item.MenuItemPath">@item.MenuItemName</a>
			@if (item.ChildMenuItems.Any())
   {
				<ul>
					@foreach (var subitem in item.ChildMenuItems)
	 {
						<li><a href="@subitem.MenuItemPath">@subitem.MenuItemName</a></li>
	 }
				</ul>
   }
		</li>
 }
</ul>
